# Copy this file to .env and fill in the values.
# Don't commit the .env file to version control!
SYSTEM_TESTS_DROPBOX_TEST_DIRECTORY=/dev/NonlocalityOS_system_tests
SYSTEM_TESTS_DROPBOX_API_APP_KEY=
SYSTEM_TESTS_DROPBOX_OAUTH=
